.container{
margin-top:200px;
}
.jumbotron a{
background:yellow;
color:red;
border:2px solid green;
}
h1{
color:white;
text-align:center;
background:red;
}

table,thead,th,tr,td{
color:yellow;
border:2px solid white;
font-size:20px;
}
table tr:nth-of-type(even){
background:#f4c242
}
thead, th{
color:white;
border:2px solid white;
font-size:20px;
margin:auto;
background:blue;
}
