{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link  rel="stylesheet" href="{% static "css/demo.css" %}">
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <title></title>
  </head>
  <body>

<div class="container" align="center">
  <div class="jumbotron">
    <h1>Job Portal</h1>
    <p>Continous Job updates..</p>
    <a class="btn btn-primary btn-lg" href="/ad" role="button">Hyderabad Jobs</a>
    <a class="btn btn-primary btn-lg" href="/ch" role="button">Chennai Jobs</a>
    <a class="btn btn-primary btn-lg" href="/del" role="button">Delhi Jobs</a>
    <a class="btn btn-primary btn-lg" href="/ban" role="button">Banglore Jobs</a>
  </div>

</div>
  </body>
</html>
